/* --------------GLOBAL----------------- */

:root {
  font-family: helvetica;
}
section { 
}

.container-section {
  display: flex;
  height: 600px;
  padding: 0px 40px;
}

.section-heading {
  font-size: 72px;
  /* font-family: helvetica; */
  text-transform: uppercase;
}

.container-heading {
  display: flex; 
}

.section-image {
  width: 90%;
  object-fit: cover;
  object-position: 0px 40%;
  clip-path: polygon(3.5% 0%, 100% 0%, 96.5% 100%, 0% 100%);
}


/* --------------HEADER----------------- */

#m20-logo-container {
  width: 200px;
  height: 100px;
  
}

#m20-logo {
  width: 100%;
  height: 100%;
  object-fit: cover;

  }

#m20-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0E0E0E;
    border: solid;
  }

#m20-header-nav {
    margin: 20px; 
  }

.m20-link {
    margin-left: 20px;
    text-decoration: none;
    color: #fff;
  }

/* --------------HERO BANNER----------------- */


#m20-hero-banner {
    display: flex;
    justify-content: space-between;
    width: 100%;
   x */
  }
  
#m20-hero-image {
    width: 600px;
    height: 600px;
    clip-path: circle(41%);
    margin-right: 100px;
  } 

  #banner-heading {
    margin: 200px 0px 0px 200px;
  }


  /* --------------SECTIONS----------------- */


.section-banner {  
      width: 10%;
      background: blue;
      clip-path: polygon(30% 0%, 100% 0%, 70% 100%, 0% 100%);
  }

#container-launch {
  }

#heading-launch {
    margin-left: 200px;
  }

#heading-cruise {
    justify-content: flex-end;
    margin-right: 250px;
  }

#heading-landing {
    margin-left: 200px;
  }

#heading-mission {
    justify-content: flex-end;
    margin-right: 250px;
  }

  
  
  
  
  
  
  
