/* --------------GLOBAL----------------- */

:root {
  font-family: helvetica;
}

/* --------------HEADER----------------- */

#m20-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0E0E0E;
}

#m20-logo-container {
  margin-left: 100px;
  width: 200px;
  height: 100px;
}

#m20-logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  }
  
  #m20-header-nav {
    margin-right: 100px;
  }

.m20-link {
    margin-left: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 20px; 
    text-transform: uppercase;
  }

.m20-link:hover {
  color: #b83c07;
}

/* --------------HERO BANNER----------------- */

.container-banner {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: solid; */
}

#heading-hero {
  text-align: center;
  font-size: 72px;
  text-transform: uppercase;
  letter-spacing: 20px;  
}

#m20-hero-banner {
  display: flex;
  background-image: linear-gradient(to bottom, #eddab2, #fff);
}

#container-hero-image {
  width: 100%;
  /* border: solid; */
  
}
#m20-hero-image {
  width: 100%;
    clip-path: circle(41%);
    /* margin-right: 100px; */
}

  /* --------------SECTIONS----------------- */

  .section { 
    display: flex;
    cursor: pointer;
    margin-bottom: 200px;
    padding: 0px 25px 0px 25px;
  }
  
  .heading-section {
    margin: 0px 0px 20px 50px;
    font-size: 72px;
    text-transform: uppercase;
    letter-spacing: 20px;
    text-shadow: 2px 2px 3px gray;
  }

  .container-section-image {
    width: 100%;
    height: 400px;
  }
  
  .section-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0px 25%;
    clip-path: polygon(2.5% 0%, 100% 0%, 97.5% 100%, 0% 100%);
  }

  .container-section {
    width: 100%;
    
  }


.section-banner {  
      width: 10%;
      background: #b83c07;
      clip-path: polygon(30% 0%, 100% 0%, 70% 100%, 0% 100%);
      opacity: .5;
  }






#heading-launch {
  
  }

#heading-cruise { 
 
  }

#heading-descent {
  
  }

#heading-mission {
    
  }

  

#login {
width: 250px;
height: 250px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

#main-login {
  background-image: linear-gradient(to bottom, #eddab2, #fff);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
  
  
  
  
